<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC9zXbUFgoXnirl5gGoT1QOKP3MseqKL6k</string>
	<key>GCM_SENDER_ID</key>
	<string>1099143021695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.programou.QuestionMe</string>
	<key>PROJECT_ID</key>
	<string>questionme-56b09</string>
	<key>STORAGE_BUCKET</key>
	<string>questionme-56b09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1099143021695:ios:cb7d252236d36a28812b4a</string>
</dict>
</plist>